# IDE
.vscode
.idea

# Dependencies
node_modules

# Test outputs
allure-results
playwright-report
test-results
test-examples
blob-report

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Environment
.env
.env.local
.env.*

# OS files
.DS_Store
Thumbs.db

# Other
uiAlfa
.cursor